pipeline/MACH pipelines.json
{
	"name": "MACH pipelines",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "S3toAzure",
						"type": "DatasetReference",
						"parameters": {
							"Directory": "x"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(last(activity('Get Metadata2').output.childItems))",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'month')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "mesUltimo",
					"value": {
						"value": "@activity('Filter1').output.value[0].name",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"mesUltimo": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-11-18T14:19:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}