pipeline/Mensual.json
{
	"name": "Mensual",
	"properties": {
		"activities": [
			{
				"name": "ADLS S3",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataLakeS3",
						"type": "DatasetReference",
						"parameters": {
							"Directory": "year=2021/"
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Ultimadata",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ADLS S3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(last(activity('ADLS S3').output.childitems))",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'month')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "S3 TO AZURE",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "S3toAzure",
						"type": "DatasetReference",
						"parameters": {
							"Directory": "bci_financial_system_debt_tb/year=2021/"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Ultimadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "S3 TO AZURE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('S3 TO AZURE').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(substring(item().name,6,2),substring(activity('Ultimadata').output.value[0].name,6,2))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataLakeS3",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@concat('year=2021/',activity('Ultimadata').output.value[0].name)",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Delete1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AmazonS3ReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "S3toAzure",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat('bci_financial_system_debt_tb/year=2021/',item().name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataLakeS3",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat('year=2021/',item().name)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "MACH"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-27T18:10:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}